.nav-bar-main{
    display: flex;
    grid-area: header;
    width: 100%;
    height: 10vh;
    /* position: sticky; */
    z-index: 1;
    right: 0;
    left: 0;
    top: 0;
    background-color: var(--white-color);
    border: 1px solid var(--secondary-color);
    border-top-color: var(--white-color);
    border-left-color: var(--white-color);
    border-right-color: var(--white-color);
}
.nav-pills{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
}
.contact-links{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    gap: 1.5rem;
}
.contact-links a{
    font-size: 1.5rem;
    color: var(--black-color);
}
.contact-links a:hover{
    color: var(--hover-primary-color);
}
.nav-button > a:hover{
    text-decoration: underline;
    color: var(--primary-color);
    text-decoration-color: var(--hover-primary-color);
}
.hamburger-menu{
    font-size: 2rem;
    display: flex;
    align-items: center;
    color: var(--primary-color);
    margin-left: 0.5rem;
}
.hamburger-menu i{
    cursor: pointer;
}