
.side-bar-main{
    /* border: 2px solid green; */
    grid-area: sidebar;
    position: sticky;
    top: 0rem;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 11rem;

}
.side-bar-component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-style-none{
    text-decoration: none;
    color: black;
}
.component-style{
    cursor: pointer;
    font-size: large;
    list-style: none;
    margin-top: 1rem;
}

@media screen and (max-width: 480px){
    .side-bar-main{
        width: 100%;
    }
    
}